<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav [mode]="'over'" #sidenav role="navigation">
    <app-sidenav-list
      [menuItems]="menuItems"
      (closeSidenav)="sidenav.close()"
    ></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header
      [menuItems]="menuItems"
      [loggedIn]="null"
      (menuClick)="onMenuClicked($event)"
      (openSideNav)="sidenav.toggle()"
    ></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
